<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://github.com/xoykor/blazzing/tizen"
        version="0.2.0"
        viewmodes="maximized">
    <tizen:application id="Blazzing01.Blazzing"
                       package="Blazzing01"
                       required_version="9.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Blazzing</name>
    <tizen:profile name="tv-samsung"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>

    <access origin="*" subdomains="true"/>

    <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version"
                    value="9.0"/>

    <tizen:setting screen-orientation="auto-rotation"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   hwkey-event="enable"
                   pointing-device-support="disable"/>
</widget>
