<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://xoykor.github.io/blazzing/tizen"
        version="0.2.5"
        viewmodes="maximized">
    <tizen:application id="Blazzing01.tizen"
                       package="Blazzing01"
                       required_version="2.3"/>

    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>Blazzing</name>
    <tizen:profile name="tv-samsung"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

    <access origin="*" subdomains="true"/>

    <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version"
                    value="2.4"/>

    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hwkey-event="enable"
                   pointing-device-support="disable"/>
</widget>
