<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://xoykor.github.io/blazzing/smoke"
        version="1.0.0"
        viewmodes="maximized">
    <tizen:application id="BlazTest01.BlazSmoke"
                       package="BlazTest01"
                       required_version="2.3"/>
    <content src="index.html"/>
    <name>BlazSmoke</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   hwkey-event="enable"/>
</widget>
