[Desktop Entry]
Type=Application
Name=Blazzing
Comment=Fast visual IPTV client for Linux/X11
Comment[pt_BR]=Cliente IPTV visual rápido para Linux/X11
Exec=visual-iptv
Icon=blazzing
Terminal=false
Categories=AudioVideo;Video;
